
div{
    width: 100px;
    height: 100px;
}

.N1{
    background-color: rgb(214, 75, 75);
}

.N2{
    background-color:rgb(0, 204, 255);
}

.N3{
    background-color: rgb(255, 0, 106);
}

.N4{
    background-color: rgb(67, 148, 108);
}
